[submodule "bundle/c.vim"]
    path = bundle/c.vim
    url = https://github.com/vim-scripts/c.vim.git
[submodule "bundle/neocomplcache"]
    path = bundle/neocomplcache
    url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/nerdcommenter"]
    path = bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/rainbow"]
    path = bundle/rainbow_parentheses
    url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = https://github.com/ervandew/supertab.git
[submodule "bundle/tagbar"]
    path = bundle/tagbar
    url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/simple-pairs"]
    path = bundle/simple-pairs
    url = https://github.com/vim-scripts/simple-pairs
[submodule "bundle/python-mode"]
    path = bundle/python-mode
    url = https://github.com/klen/python-mode
[submodule "bundle/vim-markdown"]
    path = bundle/vim-markdown
    url = https://github.com/tpope/vim-markdown
[submodule "bundle/syntastic"]
    path = bundle/syntastic
    url = https://github.com/scrooloose/syntastic
;[submodule "bundle/zencoding-vim"]
    ;path = bundle/zencoding-vim
    ;url = https://github.com/mattn/zencoding-vim
[submodule "bundle/emmet-vim"]
    path = bundle/emmet-vim
    url = https://github.com/mattn/emmet-vim
